/* FIRST COLOR #0E8572  */

.first-color{
    color: #EF6F82 !important;
}
.second-color{
    color: #413C58 !important;
    /* color: #8F625B !important; */
}
.third-color{
    color:#CDE990  !important;
}
.bg-white-p{
    background: #F6F6F4 !important;
}
.bg-first-color{
    background: #EF6F82 !important;
}
.bg-second-color{
    background: #413C58 !important;
    /* background: #8F625B !important; */
}
.bg-third-color{
    background:#CDE990  !important;
}
.bg-gray{
    background: #e5e7eb !important;
}

/* Standar style */

ul {
    list-style: none;
    padding: 0;
}
li{
    list-style: none;
}

a {
    text-decoration: none;
}

.pointer {
    cursor: pointer;
}

.z-9999 {
    z-index: 9999;
}
.z-8888 {
    z-index: 8888;
}
.z-7777 {
    z-index: 7777;
}
.z-5555 {
    z-index: 5555;
}

$utilities: (
    "width": (
        property: width,
        class: w-test,
        values: (
            100: 100%,
        ),
    ),
);

$utilities: map-merge(
    "width": (
        property: w-sc,
        values: (
            100: 100%,
        ),
    )
    $utilities,
    (
        "margin": null,
    ),
);

.font-08 {
    font-size: 0.8rem;
}

.font-1 {
    font-size: 1rem;
}

.font-2 {
    font-size: 1.2rem;
}

.font-3 {
    font-size: 1.5rem;
}

.font-4 {
    font-size: 2rem;
}

.font-amiri {
    font-family: "amiri";
}
.font-farhati {
    font-family: "farhati";
}

.text-black-title {
    color: #444444;
}

.text-first {
    color: hsl(171, 66%, 31%);
}

.text-first:hover {
    color: hsl(171deg 72% 38%);
}

.text-first-link:hover {
    color: hsl(171, 100%, 37%);
}

.text-weight-500 {
    font-weight: 500;
}

.text-weight-800 {
    font-weight: 800;
}

.bg-perso {
    background-color: #229191;
}

.btn-primary-perso {
    background: #229191;
    padding: 6px 70px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: "amiri";
}

.btn-primary-perso:enabled {
    border: 1px solid #09ffd8;
}

.border-perso {
    border: 1px solid #229191 thin;
}

.w-100-perso {
    width: 100% !important;
}
.w-75-perso {
    width: 75% !important;
}
.w-50-perso {
    width: 50% !important;
}
.w-25-perso {
    width: 25% !important;
}

@media only screen and (max-width: 790px) {
    .w-100-sc {
        width: 100% !important;
    }
    .w-75-sc {
        width: 75% !important;
    }
    .w-50-sc {
        width: 50% !important;
    }
    .w-25-sc {
        width: 25% !important;
    }

    /* Margin */
    .p-mt-sc-0 {
        margin-top: 0;
    }

    .p-mt-sc-1 {
        margin-top: 0.25rem !important;
    }

    .p-mt-sc-2 {
        margin-top: 0.5rem !important;
    }

    .p-mt-sc-3 {
        margin-top: .75rem !important;
    }

    .p-mt-sc-4 {
        margin-top: 1rem !important;
    }

    .p-mt-sc-5 {
        margin-top: 1.25rem !important;
    }

    .p-mb-sc-0 {
        margin-bottom: 0rem !important;
    }
    .p-mb-sc-1 {
        margin-bottom: .25rem !important;
    }
    .p-mb-sc-2 {
        margin-bottom: .50rem !important;
    }
    .p-mb-sc-3 {
        margin-bottom: .75rem !important;
    }
    .p-mb-sc-4 {
        margin-bottom: 1rem !important;
    }
    .p-mb-sc-5 {
        margin-bottom: 1.25rem !important;
    }

    .font-08 {
        font-size: .25rem !important;
    }

    .font-sc-1 {
        font-size: .50rem !important;
    }

    .font-sc-2 {
        font-size: .75rem !important;
    }

    .font-sc-3 {
        font-size: 1rem !important;
    }

    .font-sc-4 {
        font-size: 1.50rem !important;
    }


    .p-h-auto-sc{
        height: auto !important;
    }
    .p-d-none-sc{
        display: none !important;
    }
}

/* formkit customme */

.formkit-message{
    color: red;
    font-weight: bolder;
    margin-top: 10px;
    font-size: 15px;
}

@media only screen and (min-width: 790px) and (max-width: 1200px) {
    .w-100-md {
        width: 100% !important;
    }
    .p-mt-md-0 {
        margin-top: 0;
    }

    .p-mt-md-1 {
        margin-top: 0.25rem !important;
    }

    .p-mt-md-2 {
        margin-top: 0.5rem !important;
    }

    .p-mt-md-3 {
        margin-top: 1 !important;
    }

    .p-mt-md-4 {
        margin-top: 1.5rem !important;
    }

    .p-mt-md-5 {
        margin-top: 3rem !important;
    }
    .p-d-none-md{
        display: none !important;
    }
}

@media only screen and (min-width: 1200px) {
    .p-mt-lg-0 {
        margin-top: 0;
    }

    .p-mt-lg-1 {
        margin-top: 0.25rem !important;
    }

    .p-mt-lg-2 {
        margin-top: 0.5rem !important;
    }

    .p-mt-lg-3 {
        margin-top: 1 !important;
    }

    .p-mt-lg-4 {
        margin-top: 1.5rem !important;
    }

    .p-mt-lg-5 {
        margin-top: 3rem !important;
    }

    .mb-xs-5 {
        margin-bottom: 3rem;
    }
    .p-d-none-lg{
        display: none !important;
    }
}
